<div class="form">
            <div>
                <img src="/images/logo.png" width="75auto" height="" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <form ng-submit="loginUser()" id="login-account-form" class="list">
                <input class="register" type="text" placeholder="Matrícula" required="on" ng-model="data.register">
                <input type="password" placeholder="Senha" required="on" ng-model="data.password"> 
                <button type="submit" id="confirmation-button" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Login</button>
                <p class="message"> Ainda não possui não nenhuma conta? <a href="#/user" target="_top"> Crie já sua conta! </a> </p>
            </form>
</div>
<link href="/styles/account.css" rel="stylesheet">